body.login{
    background: url(../img/bg.jpg) no-repeat fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.login-container{ margin-top: 30vh; text-align: center; font-weight: 100; }

.header{
    height: 5vh;
    background-color: #1475CF;
    border-bottom: solid 2px #cfd3d7;
}
.header img{padding-left: 20px;}
img.appzone-logo{ padding-top: 10px; }
.header > .right{float: right; color: #fff; padding-top: 5px; padding-right: 30px;}

.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 70%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #ffaf46;
}
.left-caret:after
{	border-right: 5px solid #ffaf46;
}

.panel li{list-style: none;}

.section{
    background-color: #DFE8F6;
    height: 95vh;
}

.section > .side-menu{
    background-color: #31363a;
    height: 95vh;
    border-right: solid thin #cfd3d7;
    overflow-y: scroll;
}

.section > .side-menu > h5{
    color: #fff;
}

.section > .functions-container > .section-header{
    background-color: #fff;
    white-space:nowrap;
}

.panel-group .panel, .panel-heading{ border-radius: 0;}
 
.category-header{background-color:azure; padding:10px;}

.billing-info{ min-height: 90vh; background-color: #fff;}

.title{ text-transform: uppercase;}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #31363a;
    color: #fff;
}

.detailed-info{ color: orange; }

.card{
    border: solid 1px #e3e3e3;
    background-color: #fefefe;
    padding: 5px;
    margin: 3px;
}
.img-card{border: solid thick #fefefe;}

.category-container{background-color: #eeeeee;}

.main-functions{margin-top: 20px;}

.login-box{
    min-height: 30vh;
    border: solid thin aliceblue;
    border-radius: 5px;
    opacity: 0.85;
    color: aliceblue;
    padding: 10px 20px;
}

.login-box:hover{
    border: solid thin #f7941d;
}

.overlay{   
    background-color: black; opacity: 0.85; z-index: -1; width: 100%;
    height: 100vh; position: absolute; top: 0; left: 0;
}

.loader{ position: absolute; top: 0; left: 0; height: 0.7vh; background-color: #b3dbf8; width: 100%; opacity: 0.6; }
.white{color: aliceblue;} .orange{color: #f7941d} .left{text-align: left}
.company-logo{position: absolute; bottom: 7vh; left: 44.5%; text-align: center; color: #f18021; font-size: 12px;}
.product-logo{position: absolute; top: 7vh; left: 44.5%; color: #f18021; font-size: 12px;}
.submit-btn{padding-top:5px;}